.env
.env.local
.env.*.local
/vendor
node_modules
npm-debug.log
yarn-error.log
.DS_Store
.idea
.vscode
*.sublime-workspace
composer.lock
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/api-docs/*
bootstrap/cache/*.php
.phpunit.result.cache
database.sqlite
